
.myDiv {
    position: absolute;
    text-align: center;
    color: white;
    padding: 0;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    float: bottom;
    bottom: 30px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    max-height: 10%;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 0;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
    max-width: 100%;
}
.news {
    background: white;
}

p.line1{
    position: absolute;
    top: 0;
    left: 18%;
    text-align: center;
}
p.line2{
    position: absolute;
    top: 2%;
    left: 18%;
    text-align: center;
}
p.line3{
    position: absolute;
    top: 4%;
    left: 18%;
    text-align: center;
}
p.line4{
    position: absolute;
    top: 6%;
    left: 18%;
    text-align: center;
}
/* DEVELOPER Pavly Rizk, IS117-003, Fall 2021 */
